@model IEnumerable<Test_MVC.Models.Camera>

@{
    ViewData["Title"] = "Kamery";
}

<h1>Kamery</h1>

<table id="camerasTable" class="hover display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>@*
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">X</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary-regular" asp-action="Create">Dodaj</a>
</p>
