@model IEnumerable<Test_MVC.Models.CameraOperator>

@{
    ViewData["Title"] = "Operatorzy kamer";
}

<h1>Operatorzy kamer</h1>

<table id="cameraOperatorsTable" class="hover display">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Kontakt
            </th>
            <th>
                Numer licencji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceNumber)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">X</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary-regular" asp-action="Create">Dodaj</a>
</p>
