@model IEnumerable<Test_MVC.Models.Open_Event>

@{
    ViewData["Title"] = "Otwarte wydarzenia";
}

<h1>Otwarte wydarzenia</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Status)
            </td>
            <td>
                <a asp-controller="SponsorOpenEvents" asp-action="Create" ViewBag.OpenEventId="@item.Id">Sponsoruj</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
